.terms-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    margin-top: var(--content-gap);
}

.terms-tags li {
    display: inline-block;
    font-weight: 500;
}

.terms-tags a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 16px;
    border-radius: var(--radius);
    transition: transform var(--transition), background var(--transition), color var(--transition);
    position: relative;
}

.terms-tags a sup {
    position: absolute;
    top: 2px;
    right: 4px;
    font-size: 10px;
    font-weight: 600;
    line-height: 1;
}

.terms-tags a:hover {
    background: var(--accent) !important;
    color: #fff !important;
    transform: translateY(-2px);
}
