{{- define "main" }}

{{- if .Title }}
<aside class="sidebar">
  <div class="sidebar-section">
    <h1 class="rss-header">
      {{ .Title }}
      {{- if and (or (eq .Kind `term`) (eq .Kind `section`)) (.Param "ShowRssButtonInSectionTermList") }}
      {{- with .OutputFormats.Get "rss" }}
      <a href="{{ .RelPermalink }}" title="RSS" aria-label="RSS 订阅" class="rss-icon-inline">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
          stroke-linecap="round" stroke-linejoin="round" height="18">
          <path d="M4 11a9 9 0 0 1 9 9" />
          <path d="M4 4a16 16 0 0 1 16 16" />
          <circle cx="5" cy="19" r="1" />
        </svg>
        <span class="rss-label">RSS 订阅</span>
      </a>
      {{- end }}
      {{- end }}
    </h1>
    {{- if .Description }}
    <div class="post-description">
      {{ .Description }}
    </div>
    {{- end }}
  </div>

  <div class="sidebar-section">
    <h3>分类</h3>
    <ul class="sidebar-categories">
      {{- range $name, $taxonomy := site.Taxonomies.categories }}
      {{- with site.GetPage (printf "/categories/%s" $name) }}
      <li><a href="{{ .Permalink }}">{{ .LinkTitle }}</a><span class="count">{{ $taxonomy.Count }}篇</span></li>
      {{- end }}
      {{- end }}
    </ul>
  </div>

  <div class="sidebar-section">
    <h3>标签</h3>
    <div class="sidebar-tags">
      {{- range $name, $taxonomy := site.Taxonomies.tags }}
      {{- with site.GetPage (printf "/tags/%s" $name) }}
      <a href="{{ .Permalink }}" class="sidebar-tag">{{ .LinkTitle }}</a>
      {{- end }}
      {{- end }}
    </div>
  </div>
</aside>
<div class="page-main-content taxonomy-content">
  <ul class="terms-tags">
      {{- $type := .Type }}
          {{- range $key, $value := .Data.Terms.Alphabetical }}
              {{- $name := .Name }}
              {{- $count := .Count }}
              {{- with site.GetPage (printf "/%s/%s" $type $name) }}
              <li>
                  <a href="{{ .Permalink }}">{{ .LinkTitle }} <sup><strong><sup>{{ $count }}</sup></strong></sup> </a>
              </li>
          {{- end }}
      {{- end }}
  </ul>
</div>
{{- end }}

{{- end }}{{/* end main */ -}}