{{- define "main" }}

{{- if .Title }}
<aside class="sidebar">
  <div class="sidebar-section">
    <h1>{{ .Title }}</h1>
    {{- if .Description }}
    <div class="post-description">
      {{ .Description }}
    </div>
    {{- end }}
  </div>
</aside>
<div class="page-main-content">
{{- end }}

<ul class="terms-tags">
    {{- $type := .Type }}
        {{- range $key, $value := .Data.Terms.Alphabetical }}
            {{- $name := .Name }}
            {{- $count := .Count }}
            {{- with site.GetPage (printf "/%s/%s" $type $name) }}
            <li>
                <a href="{{ .Permalink }}">{{ .LinkTitle }} <sup><strong><sup>{{ $count }}</sup></strong></sup> </a>
            </li>
        {{- end }}
    {{- end }}
</ul>

{{- if .Title }}
</div>
{{- end }}

{{- end }}{{/* end main */ -}}
